*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* ::-webkit-scrollbar {
    width: 8px;
    background: #171717;
}

/* handle */
* ::-webkit-scrollbar-thumb {
    background: #daa520;
    border-radius: 5px;
}